---
- hosts: apiservers
  become: true

  tasks:
    - name: Install aptitude
      apt:
        name: aptitude
        state: latest
        update_cache: true

    - name: Setup passwordless sudo
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: '/usr/sbin/visudo -cf %s'

    - name: create group
      ansible.builtin.group:
        name: docker
        state: present

    - name: Add labuser to the docker group
      ansible.builtin.user:
        name: labuser
        groups: docker
        append: true

    - name: Update apt and install required system packages
      apt:
        pkg:
          - curl
          - vim
          - git
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
          - virtualenv
          - python3-setuptools
        state: latest
        update_cache: true

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Update apt and install docker-ce
      apt:
        name: docker-ce
        state: latest
        update_cache: true

    - name: Update apt and install docker-compose
      apt:
        name: docker-compose
        state: latest
        update_cache: true

    - name: Install Docker Module for Python
      pip:
        name: docker

    - name: Log into private registry and force re-authorization
      community.docker.docker_login:
        registry_url: "{{ akamai_private_git }}"
        username: "{{ akamai_collector_name|quote }}"
        password: "{{ akamai_password|quote }}"
        reauthorize: true

    - name: Pull Akamai's Docker Image of VAmPI
      docker_image:
        name: vampi:latest
        repository: "{{ akamai_private_git }}"

    - name: Deploy First VAmPI Instance on Port 5000
      docker_container:
        image: vampi:latest
        name: vampi01
        state: started
        ports:
          - "5000:5000"
    
    - name: Deploy Second VAmPI Instance on Port 5001
      docker_container:
        image: vampi:latest
        name: vampi02
        state: started
        ports:
          - "5001:5000"